			<div class="btn-menu" onclick="window.location.href = '#/Evento'">
		        <button><span class="glyphicon glyphicon-th"></span></button>Evento
		    </div>
			<div class="btn-menu" onclick="window.location.href = '#/DestinoPeticion'">
		        <button><span class="glyphicon glyphicon-th"></span></button>DestinoPeticion
		    </div>
			<div class="btn-menu" onclick="window.location.href = '#/Peticion'">
		        <button><span class="glyphicon glyphicon-th"></span></button>Peticion
		    </div>
			<div class="btn-menu" onclick="window.location.href = '#/TipoPeticion'">
		        <button><span class="glyphicon glyphicon-th"></span></button>TipoPeticion
		    </div>
			<div class="btn-menu" onclick="window.location.href = '#/Concejal'">
		        <button><span class="glyphicon glyphicon-th"></span></button>Concejal
		    </div>
		
