
				
<div class="panel panel-primary" ng-hide="panelEditar">
    <div class="panel-heading">Parametrizaci&oacute;n de Peticion</div>
    <div class="panel-body">
		<div class="btn-group">
			<button type="button" class="btn btn-default" ng-click="nuevo()">Nuevo Peticion</button>
		</div>
        <table class="resultados table table-striped">
            <tr>
                <th>
                    id
                </th>
                <th>
                    nombre
                </th>
                <th>
                    descripcion
                </th>
                <th>
                    anexo
                </th>
                
				<th>
				    destinoPeticion
				</th>
				<th>
				    tipoPeticion
				</th>
				
				<th>
                    <input class="form-control" ng-model="q"  placeholder="Buscar"/>
                </th>
            </tr>
            <tr dir-paginate="row in lista|filter: q|itemsPerPage:10">
                	<td>{{row.id}}</td>
                
                	<td>{{row.nombre}}</td>
                
                	<td>{{row.descripcion}}</td>
                
                	<td>{{row.anexo}}</td>
                
                
					<td class="row">{{row.tipoPeticion.nombre}}</td>     
				         	<td class="row">{{row.destinoPeticion.nombre}}</td>     
				         
				<td class="row">
                    <button type="button" class="btn btn-default" ng-click="editar(row)">
                        <span class="glyphicon glyphicon-pencil"></span>Editar
                    </button>
					<button type="button" class="btn btn-default" ng-click="eliminar(row)">
                        <span class="glyphicon glyphicon-remove"></span>Eliminar
                    </button>
                </td>
            </tr>
        </table>
		<div dir-pagination-controls></div>
		<br/>
    </div>
</div>

<div class="panel panel-primary" ng-show="panelEditar">
    <div class="panel-heading">Parametrizaci&oacute;n de Peticion</div>
    <div class="panel-body">
	    				
	    <div class="form-group col-md-6" ng-class="errores.id?'error':''">
	        <label for="id">id</label>
	        <input id="id" 
	               class="form-control" 
	    		   type="text"
	               ng-model="datosFormulario.id"
	    		   placeholder="id"/>
	        <div ng-show="errores.id">{{errores.id}}</div>
	    </div>				
	    <div class="form-group col-md-6" ng-class="errores.nombre?'error':''">
	        <label for="nombre">nombre</label>
	        <input id="nombre" 
	               class="form-control" 
	    		   type="text"
	               ng-model="datosFormulario.nombre"
	    		   placeholder="nombre"/>
	        <div ng-show="errores.nombre">{{errores.nombre}}</div>
	    </div>				
	    <div class="form-group col-md-6" ng-class="errores.descripcion?'error':''">
	        <label for="descripcion">descripcion</label>
	        <input id="descripcion" 
	               class="form-control" 
	    		   type="text"
	               ng-model="datosFormulario.descripcion"
	    		   placeholder="descripcion"/>
	        <div ng-show="errores.descripcion">{{errores.descripcion}}</div>
	    </div>				
	    <div class="form-group col-md-6" ng-class="errores.anexo?'error':''">
	        <label for="anexo">anexo</label>
	        <input id="anexo" 
	               class="form-control" 
	    		   type="text"
	               ng-model="datosFormulario.anexo"
	    		   placeholder="anexo"/>
	        <div ng-show="errores.anexo">{{errores.anexo}}</div>
	    </div> 
		<div class="row">
		    <div class="form-group col-md-6" ng-class="errores.tipoPeticion?'error':''">
		        <label>tipoPeticion</label>
				<select id="tipoPeticion" class="form-control" 
		            ng-model="datosFormulario.tipoPeticion"
		            ng-options="option.nombre for option in listaTipoPeticion track by option.id">
		    	</select>
		        <div ng-show="errores.tipoPeticion">{{errores.tipoPeticion}}</div>
		    </div>
		</div>
		<div class="row">
		    <div class="form-group col-md-6" ng-class="errores.destinoPeticion?'error':''">
		        <label>destinoPeticion</label>
				<select id="destinoPeticion" class="form-control" 
		            ng-model="datosFormulario.destinoPeticion"
		            ng-options="option.nombre for option in listaDestinoPeticion track by option.id">
		    	</select>
		        <div ng-show="errores.destinoPeticion">{{errores.destinoPeticion}}</div>
		    </div>
		</div>
		
		<div class="btn-group">
			<button type="button" class="btn btn-default" ng-click="guardar()">Aceptar</button>
	        <button type="button" class="btn btn-default" ng-click="cancelar()">Cancelar</button>
	    </div>    
    </div>
</div>

