.subpanel{
   padding: 0px;
}

.subpanel>.panel-body {
   padding-top: 0px;
   padding-bottom: 0px;
}

.subpanel>.panel-heading {
   padding-top: 0px;
   padding-bottom: 0px;
}

.subpanel>.panel-body>.form-group{
   padding-top: 0px;
   padding-bottom: 0px;
   margin: 0px;
}

#iframeContenido{
    margin-left: auto;
    margin-right: auto;
    display:block;
    border:0px;
}

.btn-menu {
  width: 120px;
  background-color: #FFFFFF;
  color: #000000;
  text-align: center;
  float: left;
  font-size: large;
  font-weight: bolder;
  cursor: pointer;
  margin: 10px;
}

.btn-menu>button {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 6px solid #337ab7;
  font-size: 200%;
  background-color: #FFFFFF;
  color: #000000;

}

.logo{
    height: 50px;
    margin: -15px;
}
